<ion-view view-title="List Orders">
    <ion-header>
        <br/><br/>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon" ></i>
            <input type="search" placeholder="Search" ng-model="fillter" >
        </label>
    </ion-header>
    <ion-content>


        <div class='list' style="margin-top: 10%">
            <div class='item item-avatar-left item-icon-right' ng-click="btngo(data)" ng-repeat="data in myDataArray | filter:fillter">
                <img src={{data.user.profileImageURL}}>
                <h2>{{data.user.displayName}}</h2>
                <p style="margin-right: 20%">{{data.shipping.address}} {{data.shipping.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.shipping.district}} {{data.shipping.province}}</p>
                <p>
                    <h2>{{data.shipping.postcode}}</h2>
                </p>
                <p class="icon ion-right ">{{data.amount}}</p>
            </div>
        </div>


        <!--<p>
            This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters " target="_blank ">Ionic Market</a>.
        </p>
        <p>
            To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
        </p>
        <p>
            If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com " target="_blank ">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework " target="_blank ">follow us</a> on Twitter to
            get important updates and announcements for Ionic developers.
        </p>
        <p>
            For help sending push notifications, join the <a href="https://apps.ionic.io/signup " target="_blank ">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview " target="_blank ">Ionic Push</a>. We also have other services
            available.
        </p>-->
    </ion-content>
</ion-view>